{% extends 'main.html' %}

{% block meta %}
    <title>{{ meta.title }}</title>
{% endblock %}

{% block content %}
        <form class="form-signin" method="post">
                {% if messages %}
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% csrf_token %}
                <label for="{{ form.login.id_for_label }}" class="sr-only">{{ form.login.label }}</label>
                {{ form.login }}
                <label for="{{ form.password.id_for_label }}" class="sr-only">{{ form.password.label }}</label>
                {{ form.password }}
                {% ifnotequal captcha_img None %}
                    <div class="form-group">
                        <img src="{{ captcha_img }}" style="display: inline-block"/>
                        <input type="text" name="captcha" class="form-control" style="display: inline-block; width: 70%;">
                        <input type="hidden" name="captcha_sid" value="{{ captcha_sid }}">
                    </div>
                {% endifnotequal %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
{% endblock %}