  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{{ avatar }}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>{{ first_name }}</span>
      <h2>{{ last_name }}</h2>
    </div>
  </div>