<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="{{ avatar }}" alt="">{{ first_name }} {{ last_name }}
    <span class=" fa fa-angle-down"></span>
</a>