{% extends "main.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <!-- Animate.css -->
    <link href="/static/vendors/animate.css/animate.min.css" rel="stylesheet">
    <style>
        body {
            height: auto !important;
        }
    </style>
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form method="post">
                    {% csrf_token %}
                    <h1>Вход в систему</h1>
                    <div class="alert alert-info">Вход осуществляется по логину и паролю от VK</div>
                    {% if messages %}
                        {% for message in messages %}
                            <div{% if message.tags %}
                                class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    <div>
                        {{ form.login }}
                    </div>
                    <div>
                        {{ form.password }}
                    </div>
                    {% ifnotequal captcha_img None %}
                        <div class="form-group">
                            <img src="{{ captcha_img }}" style="display: inline-block; margin-bottom: 5px;"/>
                            <input type="text" name="captcha" class="form-control"
                                   style="display: inline-block; width: 70%;" placeholder="Введите код с картинки">
                            <input type="hidden" name="captcha_sid" value="{{ captcha_sid }}">
                        </div>
                    {% endifnotequal %}
                    <div>
                        <button class="btn btn-default submit">Войти</button>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </section>
        </div>
    </div>
    <!-- jQuery -->
    <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".overlay").hide();
        })
    </script>
{% endblock body %}