<div class="form-group">
    <div class="row">
        <img src="{{ captcha_img }}" class="img-responsive">
    </div>
    <div class="row mt-7">
        <label for="">Введите код с картинки</label>
        <input type="text" class="form-control float-left" id="captcha_code">
        <input type="hidden" id="captcha_sid" value="{{ captcha_sid }}">
        <input type="hidden" id="group_id" value="{{ g_id }}">
    </div>
    <div class="row mt-7">
        <input type="button" class="btn btn-primary mt-1" value="Продолжить отправку" onclick="continue_posting()">
    </div>
</div>