<!-- NEW PROFILE -->
<!-- Modal -->
<div class="modal fade" id="newProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Создание нового профия</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="profile_name" placeholder="Введите название профиля">
                        <div class="invalid-feedback text-danger"></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-send">Сохранить</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>
<!-- END NEW PROFILE -->