{% extends 'main.html' %}

{% load staticfiles %}

{% block title %} {{ meta.title }} {% endblock title %}


{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/vendors/jquery-file-upload/css/jquery.fileupload.css">
{% endblock stylesheets %}


{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Постинг в ВК</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12 post-form">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Массовый постинг в группы ВК</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                Обратите внимание, что присутствует ограничение на <strong>50 постов в сутки</strong>.
                            </div>
                            <form>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Выберите профиль</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" id="profile_select">
                                            <option value="">-- Выберите профиль --</option>
                                            {% for p in profiles %}
                                                <option value="{{ p.id }}">{{ p.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="container mt-7 mb-10">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#newProfileModal">
                                                <i class="fa fa-plus"></i> Новый
                                            </button>
                                            <button type="button" class="btn btn-danger" id="delete_profile">
                                                <i class="fa fa-remove"></i> Удалить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Выберите базу</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select class="select2_single form-control" id="base_select">
                                            <option value=''>-- Выберите базу --</option>
                                            {% for b in bases %}
                                                <option value="{{ b.id }}">{{ b.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="container mt-7 mb-10">
                                            <button type="button" class="btn btn-primary"
                                                    data-toggle="modal"
                                                    data-target="#newBaseModal">
                                                <i class="fa fa-plus"></i> Новая
                                            </button>
                                            <button type="button" class="btn btn-danger" id="delete_base">
                                                <i class="fa fa-remove"></i> Удалить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Сообщение</label>
                                    <textarea class="form-control col-12" id="profile_message" rows="3"></textarea>
                                    <div class="container">
                                        <div class="container mt-7">
                                            <ul class="file-list to_do">

                                            </ul>
                                        </div>
                                        <div class="row">
                                    <span class="btn btn-warning fileinput-button">
                                        <span>Фото</span>
                                        <!-- The file input field used as target for the file upload widget -->
                                        <input type="file" id="message-image" name="message_image" accept="image/*"
                                               data-url="/post/upload_image/">
                                    </span>
                                            <span class="btn btn-success fileinput-button">
                                        <span>Видео</span>
                                                <!-- The file input field used as target for the file upload widget -->
                                        <input type="file" id="message-video" name="message_video" accept="video/*"
                                               data-url="/post/upload_video/">
                                    </span>
                                            <span class="btn btn-info fileinput-button">
                                        <span>Документ</span>
                                                <!-- The file input field used as target for the file upload widget -->
                                        <input type="file" id="message-doc" name="message_doc" accept="*/*"
                                               data-url="/post/upload_doc/">
                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="alert alert-danger" id="message_error" style="display: none"></div>
                                    <div class="container">
                                        <div class="row">
                                            <button type="button" class="btn btn-primary mt-1 mr-1" id="send_msg">
                                                Отправить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-4 col-xs-12 post-form">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Список групп в выбранной базе</h2>
                            <ul class="nav navbar-right panel_toolbox panel_toolbox__custom">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content panel_group_list">
                            <div class="alert alert-info fade in" role="alert">
                                База сообществ не выбрана. Выберите базу в окне слева.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include '_new_profile_modal.html' %}
    {% include '_new_base_modal.html' %}
    {% include '_new_group_modal.html' %}
    {% include '_info_modal.html' %}
    {% include '_edit_group_modal.html' %}
{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <!-- validator -->
    <script type="text/javascript" src="/static/vendors/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/static/vendors/jquery-file-upload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/static/vendors/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/static/build/js/upload.js?v=0002"></script>
{% endblock javascripts %}