{% extends 'main.html' %}

{% load staticfiles %}

{% block title %} {{ meta.title }} {% endblock title %}


{% block content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Рассылка сообщений в ВК</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12 post-form">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Спам-бот ВК</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="alert alert-info alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                Функционал находится в стадии разработки. Следите за новостям
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}