<!-- Modal -->
<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Редактировать сообщество</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="gaddress" name="" placeholder="Вставьте новую ссылку">
                        <input type="hidden" id="gid">
                        <input type="hidden" id="base" value="">
                        <div class="invalid-feedback text-danger"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="update_group_btn">Сохранить</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>