<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
        <tr class="headings">
            <th><input type="checkbox" id="check-all" class="flat"></th>
            <th class="column-title">ID сообщества</th>
            <th class="column-title">Название</th>
            <th class="column-title">#</th>
            <th class="bulk-actions" colspan="3">
                <a class="antoo" style="color:#fff; font-weight:500;">Выделено: <span class="action-cnt"> </span>
                    <i class="fa fa-chevron-down"></i></a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for g in groups %}
            <tr class="{% cycle 'odd' 'even' %} pointer">
                <td class="a-center ">
                    <input type="checkbox" class="form-check-input flat" name="table_records" value="{{ g.id }}">
                </td>
                <td>{{ g.group_id }}</td>
                <td>{{ g.name }}</td>
                <td>
                    <i class="fa fa-pencil" data-toggle="modal" data-target="#editGroupModal" data-gid="{{ g.id }}" data-base="{{ base }}"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <button type="button" class="btn btn-info"
                data-toggle="modal"
                data-target="#addGroupModal"><i class="fa fa-plus"></i> Сообщество
        </button>
        <button type="submit" class="btn btn-danger group_delete_button">Удалить</button>
    </div>
</div>
<!-- EDIT GROUP -->