<!-- NEW BASE -->
<!-- Modal -->
<div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Напишите нам!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info bs-callout-info" style="display: none;">Ваше сообщение успешно отправлено</div>
                <form class="contact-form"  data-parsley-validate="">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ваше имя" required="required" minlength="4" name="name">
                        <div class="invalid-feedback text-danger"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"  placeholder="Ваш email или иной контакт" required="required" minlength="5" name="contact">
                        <div class="invalid-feedback text-danger"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Напишите нам! Вы можете поделиться с нами своей идеей или сообщить об ошибке." required="required" minlength="10" name="message"></textarea>
                        <div class="invalid-feedback text-danger"></div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="$('.contact-form').submit()">Отправить</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<!-- END NEW BASE -->