<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ meta.title }} — Projectin.ru</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal|Ubuntu Condensed|">
    <link rel="stylesheet" type="text/css" href="/static/landing/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/landing/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/landing/css/style.css?М=002">
    {% include 'metric.html' %}
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!--banner-->
<section id="banner" class="banner">
    <div class="bg-color">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="/static/landing/img/logo2.png" class="img-responsive"
                                                              style="width: 140px; margin-top: -16px;"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#banner">В начало</a></li>
                            <li class=""><a href="#service">Сервисы</a></li>
                            <li class=""><a href="#contact">Написать нам</a></li>
                            <li class=""><a href="/account/login/">Войти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="banner-info">
                    <div class="banner-logo text-center">
                        <img src="/static/landing/img/logo2.png" class="img-responsive">
                    </div>
                    <div class="banner-text text-center">
                        <h1 class="white">Полезные сервисы в одном месте</h1>
                        <p>
                            Боты для рассылок в группы и личные сообщения в VK, скачивание музыки из VK, скачивание
                            вложений из диалогов в VK.<br/>
                            Так же сервисы <strong>не связанные с соц. сетями</strong>, напримиер заказ выписок из ЕГРН.
                        </p>
                        <a href="/account/login/" class="btn btn-appoint">Войти в систему.</a>
                    </div>
                    <div class="overlay-detail text-center">
                        <a href="#service"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ banner-->
<!--service-->
<section id="service" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">Наши сервисы</h2>
                <hr class="botm-line">
                <p>Часто бывает так, что требуется от сайта функционал, который там не предусмотрен, например: массовая
                    рассылка сообщений в VK, в простонародье - спам-бот, или скачивание музыки в VK. Мы разрабатываем
                    такие микросервисы и выкладывем их в открытое пользование! </p>
            </div>
            <div style="visibility: visible;" class="col-md-8 col-sm-8 more-features-box">
                <div class="more-features-box-text">
                    <div class="more-features-box-text-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    <div class="more-features-box-text-description">
                        <h3>Рассылайте посты в группы в один клик!</h3>
                        <p>Создавайте базы сообществ, сохраняйте шаблоны сообщений с вложениями и одним кликом вы можете
                            разослать сообщение во все группы в выбранной базе нажав одну кнопку!</p>
                    </div>
                </div>
                <div class="more-features-box-text">
                    <div class="more-features-box-text-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    <div class="more-features-box-text-description">
                        <h3>Используйте наш спам-бот ВКонтакте.</h3>
                        <p>Вы можете легко собрать всех пользователей сообщества конкурентов в одну базу и разослать
                            всем сообщения нажав всго лишь пару кнопок!</p>
                    </div>
                </div>
                <div class="more-features-box-text">
                    <div class="more-features-box-text-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    <div class="more-features-box-text-description">
                        <h3>Как скачать все фото из диалога ВКонтакте?</h3>
                        <p>Вам скинули много фото в беседу или диалог, а вы не знаете как их сохранить? Используйте наш сервис для этого! Всего лишь одним нажатием вы получите все фото разом в архиве.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ service-->
<!--contact-->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Написать нам</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-8 col-sm-8 marb20">
                <div class="contact-info">
                    <h3 class="cnt-ttl">Есть вопрос или предложение? Напишите нам!</h3>
                    <div class="space"></div>
                    <div id="sendmessage">Ваше сообщение отправлено! Спасибо!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        {% csrf_token %}
                        <div class="form-group">
                            {{form.name}}
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            {{ form.subject }}
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            {{ form.message }}
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            {{ form.captcha }}
                            <div class="validation comment">Что бы обновить кликните на картинку</div>
                        </div>

                        <div class="form-action">
                            <button type="submit" class="btn btn-form">Отправить сообщение</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ contact-->
<!--footer-->
<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">О проекте</h4>
                    </div>
                    <div class="info-sec">
                        <p>Используйте наш сервис и получайте "скрытые" возможности популярных сайтов. Так же вы можете связаться с нами и написать, что бы вы еще хотели видеть и какого функционала вам не хватает.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Быстрые ссылки</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="quick-info">
                            <li><a href="/"><i class="fa fa-circle"></i>В начало</a></li>
                            <li><a href="#service"><i class="fa fa-circle"></i>Сервисы</a></li>
                            <li><a href="#contact"><i class="fa fa-circle"></i>Написать нам</a></li>
                            <li><a href="/account/login/"><i class="fa fa-circle"></i>Войти</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    © Copyright Projectin.ru. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer-->

<script src="/static/landing/js/jquery.min.js"></script>
<script src="/static/landing/js/jquery.easing.min.js"></script>
<script src="/static/landing/js/bootstrap.min.js"></script>
<script src="/static/landing/js/custom.js"></script>
<script src="/static/landing/contactform/contactform.js?v=0002"></script>

</body>

</html>
