<!DOCTYPE html>
<html lang="ru">
<head>
    <head>
        {% block head %}
            {% block meta %}
                <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
                <!-- Meta, title, CSS, favicons, etc. -->
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
            {% endblock meta %}

            <title>Projectin.ru — {% block title %}{% endblock %}</title>
            <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
            {% block stylesheets %}
                <!-- Bootstrap -->
                <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
                <!-- Font Awesome -->
                <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
                <!-- NProgress -->
                <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
                <!-- bootstrap-daterangepicker -->
                <link href="/static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
                <!-- iCheck -->
                <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
                <!-- bootstrap-progressbar -->
                <link href="/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"
                      rel="stylesheet">
                <!-- JQVMap -->
                <link href="/static/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
            {% endblock stylesheets %}
            <!-- Custom Theme Style -->
            <link href="/static/build/css/custom.css?v=0018" rel="stylesheet">
        {% endblock head %}
    </head>
</head>
<body class="{% block body_class %}nav-md {% endblock body_class %}">
<div class="overlay">
    <img src="/static/build/images/gears.svg" alt="" />
</div>
{% block body %}
    <div class="container body">
        <div class="main_container">

            {% block sidebar %}
                <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
                    {% include "sidebar.html" %}
                </div>
            {% endblock sidebar %}

            {% block top_navigation %}
                <div class="top_nav">
                    {% include "top_navigation.html" %}
                </div>
            {% endblock top_navigation %}

            {% block content %}

            {% endblock content %}

            {% block footer %}
                <footer>
                    {% include "footer.html" %}
                </footer>
            {% endblock footer %}
        </div>
    </div>
    {% include '_contact_form.html' %}
    {% block javascripts %}
        <!-- jQuery -->
        <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="/static/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="/static/vendors/nprogress/nprogress.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="/static/vendors/iCheck/icheck.min.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="/static/vendors/moment/min/moment.min.js"></script>
        <script src="/static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- bootstrap-wysiwyg -->
        <script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
        <script src="/static/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
        <script src="/static/vendors/google-code-prettify/src/prettify.js"></script>
        <!-- jQuery Tags Input -->
        <script src="/static/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
        <!-- Switchery -->
        <script src="/static/vendors/switchery/dist/switchery.min.js"></script>
        <!-- Select2 -->
        <script src="/static/vendors/select2/dist/js/select2.full.min.js"></script>
        <!-- Parsley -->
        <script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
        <script src="/static/vendors/parsleyjs/dist/i18n/ru.js"></script>
        <!-- Autosize -->
        <script src="/static/vendors/autosize/dist/autosize.min.js"></script>
        <!-- jQuery autocomplete -->
        <script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <!-- starrr -->
        <script src="/static/vendors/starrr/dist/starrr.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="/static/build/js/custom.js?v=0011"></script>
        <script src="/static/vendors/jquery-cookie/jquery.cookie.js"></script>
        <script src="/static/build/js/app.js?v=0014"></script>
    {% endblock %}

{% endblock body %}
</body>
</html>