{% load profile_info_widget %}

<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/cabinet/" class="site_title"><i class="fa fa-spinner"></i> <span>Projectin.ru</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    {% sidebar_widget %}
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Сервисы</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-vk"></i> VK.COM <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/post/">Постинг в группы</a></li>
                        <li><a href="/messaging/">Спам-бот</a></li>
                        <li><a href="/files_from_dialog/">Скачать вложения</a></li>
                    </ul>
                </li>
            </ul>
            <h3>Система</h3>
            <ul class="nav side-menu">
                <li><a href="#" data-toggle="modal" data-target="#contactForm"><i class="fa fa-envelope-o"></i> Написать нам</a></li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>
