{% load profile_info_widget %}

<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        {% top_nav_widget %}
        <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="#" data-toggle="modal" data-target="#contactForm">Написать нам</a></li>
            <li><a href="/account/logout/"><i class="fa fa-sign-out pull-right"></i> Выход</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
