{% extends 'main.html' %}

{% load staticfiles %}

{% block title %} {{ meta.title }} {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Описание сервисов</h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 cabinet-description-services">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Кратко о сервисах</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <ul class="list-unstyled timeline">
                    <li>
                      <div class="block">
                        <div class="tags">
                          <a href="/post/" class="tag">
                            <span>Постинг в группы VK.COM</span>
                          </a>
                        </div>
                          <div class="mobile_block_content" style="height: 45px">

                          </div>
                        <div class="block_content">
                          <h2 class="title">
                              <a>Надоело постить одно и тоже сообщение в группы?</a>
                          </h2>
                          <p class="excerpt">
                              Используйте сервис постинга сообщений в группы. Создавайте свои базы сообществ и рассылайте сообщения по ним. <a href="/post/">Попробовать</a>
                          </p>
                        </div>
                      </div>
                    </li>
                      <li>
                      <div class="block">
                        <div class="tags">
                          <a href="/messaging/" class="tag">
                            <span>Спам-бот в VK.COM</span>
                          </a>
                        </div>
                          <div class="mobile_block_content" style="height: 45px">

                          </div>
                        <div class="block_content">
                          <h2 class="title">
                              <a>Рассылайте сообщения пользователям в ВК</a>
                          </h2>
                          <p class="excerpt">
                              Создавайте базы пользователей и рассылайте им соощения в один клик. <a href="/messaging/">Попробовать</a>
                          </p>
                        </div>
                      </div>
                    </li>
                       <li>
                      <div class="block">
                        <div class="tags">
                          <a href="/files_from_dialog/" class="tag">
                            <span>Вложения в VK.COM</span>
                          </a>
                        </div>
                          <div class="mobile_block_content" style="height: 45px">

                          </div>
                        <div class="block_content">
                          <h2 class="title">
                              <a>Скачивайте вложения из бесед в ВК</a>
                          </h2>
                          <p class="excerpt">
                              Скачивайте все вото из бесед разом. Больше не надо скачивать фото по одной. <a href="/files_from_dialog/">Попробовать</a>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock %}